.discoverContainer {
    padding: 100px 0;

    h2 {
        text-align: center;
    }

    form {
        width: 25%;
        margin: 0 37.5%;

        input {
            width: 100%;
            padding: 15px 0 15px 5px;
            margin: 50px 0 100px 0;
        }
    }
}

.userCard {
    width: calc(25% - 50px);
    float: left;
    margin-bottom: 60px;
    margin-right: 52.5px;
    height: 350px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

    img {
        width: 100%;
        height: 250px;
        display: block;
        object-fit: cover;
        margin: 0 0 20px 0;
    }

    h3 {
        display: inline-block;
    }

    a {
        float: right;
    }
}

.userCard:nth-of-type(4) {
    margin-right: 0;
}